# flyctl launch added from .gitignore
**/.env
**/.git
**/.github

# flyctl launch added from client/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/
fly.toml
