files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyDCCArACCQCc0LDbsnDPADANBgkqhkiG9w0BAQsFADCBpTELMAkGA1UEBhMC
      S0UxEDAOBgNVBAgMB05haXJvYmkxFTATBgNVBAcMDE5haXJvYmkgQ2l0eTEPMA0G
      A1UECgwGTnlhdHRhMQ8wDQYDVQQLDAZOeWF0dGExKTAnBgNVBAMMICouZXUtd2Vz
      dC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMSAwHgYJKoZIhvcNAQkBFhFsb21vbG9A
      bnlhdHRhLmFwcDAeFw0yMzA3MTgxNTE1MTFaFw0yNDA3MTcxNTE1MTFaMIGlMQsw
      CQYDVQQGEwJLRTEQMA4GA1UECAwHTmFpcm9iaTEVMBMGA1UEBwwMTmFpcm9iaSBD
      aXR5MQ8wDQYDVQQKDAZOeWF0dGExDzANBgNVBAsMBk55YXR0YTEpMCcGA1UEAwwg
      Ki5ldS13ZXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20xIDAeBgkqhkiG9w0BCQEW
      EWxvbW9sb0BueWF0dGEuYXBwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEApAzhtNCkHEQ1qNjeNVXM7TQgskXP5uKNT73AqYh+HSNlpZR90Fe2xXEX3a31
      Xzpekg3/u7bxSrTX8KCAi4mVb1/kTDZHr3iF6VrU4O9Mwn4TSoZLuDpN+FQ5ALpY
      Q7MRFfDftKzlq1ENR2IRcTbvQS4lx0PxTppBgi4cYBtXr25XNAX7FhgpV+XdL7FF
      +FVaKSF+VCPPqAkFgvJ9JQcysJWBnexTV3Ogoq6o/QoGAKq6MAoOhEfWkatCIV2t
      BU9pFRBDLSf5nE+pIEoIlRPjcZf/9wXQDOtniWltsBAZEHJJncG88mhKI6mnOdEb
      xZOhFcftuVCyp2csPRUXex7mBQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQB8d+6t
      /YDDrYURAMRIjfKqt7asetV+b8t3m6F8b7a3UFggEXf38yNIgdCoT+aC8RwMBmN4
      rKt8PBecSWnSeV6sKvH6UFxyFnhoKmLWpogo3GieULhPu/fh1XH8TZTEjo0dHF1I
      2pN7Hv5QeCiw+fPbRpJSYkmbMNr+eHqSg7Gz8RgmSLQ36XTaKFtqkdy3jXjnlRPa
      uPCPGngrsTFOxw30FFZOD3nWi4o0gdKZ75EfZZbHqTzdreJ7e86xBi54mW07pz+i
      P3cSxlxJJ4A9Mm+8aJTQPXNzVe/j+XOPZv+f1TKiKVgtwM9ScoywrzSvVUPvFOJP
      hL5KBO9D1oqGrTcM
      -----END CERTIFICATE-----
      
container_commands:
  01restart_nginx:
    command: "service nginx restart"
